<h1><%=current_user.username%>'s Binder</h1><br>

<h2><%=@folder.name%></h2><br>

<%@folder.pieces.each do |piece|%>
  <p>- <a href='/pieces/<%=piece.id%>'>- <%=piece.title%></a></p>
<%end%><br>

<form action='/folders/<%=@folder.id%>/pieces/new' method='get'>
  <input type='submit' value='Add Piece'>
</form>  

<p><form action='/folders/<%=@folder.id%>/edit' method='get'>
  <input type='submit' value='Edit Folder'>
</form>
OR
<form action='/folders/<%=@folder.id%>/delete' method='post'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='Delete Folder'>
</form></p><br>

<form action='/folders' method='get'>
  <input type='submit' value='Return to Binder'>
</form>