<h1><%=current_user.username%>'s Binder</h1><br>

<h2><%=@piece.title%> by <%=@piece.composer%></h2><br>
<%if @piece.from_work%>
  <h3>from <%=@piece.from_work%></h3><br>
<%end%>
<p>First performed in <%=@piece.year%></p>
<p>Genre: <%=@piece.genre%></p><br>

<%if @piece.language%>
  <p>Written in <%=@piece.language%></p>
<%end%>
<%if @piece.lyricist%>
  <p>With lyrics written by <%=@piece.lyricist%></p>
<%end%>
<br>
<%if @piece.translation%>
  <p>Translation:<br>
    <%=@piece.translation%>
  </p>
<%end%>