<h1><%=current_user.username%>'s Binder</h1><br>

<h2>"<%=@piece.title%>" by <%=@piece.composer%></h2><br>
<%if @piece.from_work%>
  <h3>from <%=@piece.from_work.upcase%></h3><br>
<%end%>
<p>First performed in <%=@piece.year%></p>
<p>Genre: <%=@piece.genre%></p><br>

<%if @piece.language%>
  <p>Written in <%=@piece.language%></p>
<%end%>
<%if @piece.lyricist%>
  <p>With lyrics written by <%=@piece.lyricist%></p>
<%end%>
<br>
<%if @piece.translation%>
  <p>Translation:<br>
    <%=@piece.translation%>
  </p>
<%end%>

<p><form action='/pieces/<%=@piece.id%>/edit' method='get'>
  <input type='submit' value='Edit Piece'>
</form>
OR
<form action='/pieces/<%=@piece.id%>/delete' method='post'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='Delete Piece'>
</form></p><br>

<form action='/folders' method='get'>
  <input type='submit' value='Return to Binder'>
</form>